@page "/custom-rules"

<div class="mx-auto flex max-w-2xl max-w-lg flex-col items-center">
    <h1>Mexican Standoff</h1>
    <h2>A Quick Mind Game</h2>
    
    <div class="mt-10">
        <img src="img/signature-villans.jpg" class="max-w-[200px]" />
    </div>
    
    <div class="mt-12 rounded-lg bg-orange-200 p-12 italic shadow-lg">
        <span class="emphasis">NOTE,</span>
        this feature is not implement yet
    </div>

    <a href="/" class="button mt-8">&lArr; Back</a>

</div>
