@page "/"

<div class="mx-auto flex max-w-2xl flex-col items-center">
    <h1>Mexican Standoff</h1>
    <h2>A Quick Mind Game</h2>

    <div class="mt-10">
        <img src="img/signature-villans.png" class="max-w-[200px]" />
    </div>

    <ol class="mt-10 flex flex-col items-center gap-5">
        <li class="text-center">
            <span class="emphasis">First,</span>
            create the game on one device
            <br /><em>(game statistics will be displayed here)</em>
        </li>
        <li class="text-center">
            <span class="emphasis">Then,</span>
            each player connects with a device
            <br /><em>(mobile phone via QR-code)</em>
        </li>
        <li class="text-center">
            <span class="emphasis">And now,</span>
            start the game!
        </li>
    </ol>

    <a href="/game-monitor" class="button large my-8">Create game!</a>
    <a href="/custom-rules" class="button">Customize rules</a>

    <div class="mt-10 flex gap-10">
        <a href="/how-to-play" class="mt-8">How to play</a>
        <a href="/external-bot-reference" class="mt-8">External bot reference</a>
    </div>
</div>
