@page "/how-to-play"

<div class="mx-auto flex max-w-2xl max-w-2xl flex-col items-center">
    <h1>Mexican Standoff</h1>
    <h2>A Quick Mind Game</h2>

    <div class="mt-5 gap-3 border-neutral-300 px-5 pb-2 flex border-b">
        <span>3&ndash;8 players </span>
        <span>|</span>
        <span>5&ndash;10 minutes per game</span>
    </div>

    <div class="mt-5 bg-white px-4 pb-4 rounded-lg md:px-6 md:pb-6">
        <div class="mt-5">
            <span class="emphasis">The goal</span>
            is to be the first to collect 3 coins and avoid being shot dead.
            You start out with 2 life counters.
        </div>

        <div class="mt-5">
            <span class="emphasis">TL;DR:</span>
            Try the chest for a coin, load the gun and attack other players or dodge attacks. If you take out another player, you get his coins.
        </div>

        <div class="emphasis mt-5">Playing</div>
        <div class="mt-1">
            <ol class="pl-5 list-decimal">
                <li>Every player selects a card to play</li>
                <li>When all have selected, cards are revealed</li>
                <li>Events are carried out in order</li>
            </ol>
        </div>

        <div class="emphasis mt-5">Event order</div>
        <div class="mt-1">
            <ol class="gap-3 pl-5 flex list-decimal flex-col">
                <li>
                    Dodge<br />
                    A player that dodges cannot be shot by others.
                </li>
                <li>
                    Attack player<br />
                    Requires a loaded gun.
                    Target player may not carry out his event.
                    Two players can shoot each other and the shots hit at the same time.
                    A player dies if show twice.
                </li>
                <li>
                    Load<br />
                    Loads the gun with a bullet.
                    You may have up to 6 bullets in the gun.
                </li>
                <li>
                    Chest<br />
                    Try to get a coin from the chest.
                    If you are alone on the chest, you get a coin.
                    The maximum number of players on the chest to get a coin varies with the number of players currently in the game.
                </li>
            </ol>
        </div>

        <div class="emphasis mt-5">Winner</div>
        <div class="mt-1">
            <ul class="pl-5 list-disc">
                <li>The player first to reach 3 coins wins.</li>
                <li>A single player left wins.</li>
                <li>If several players get 3 coins, the one with the most coins wins.</li>
                <li>If they have the same amount of coins, the player with the most life left wins.</li>
                <li>If they have the same amount of life, the player with the most bullets in the gun wins.</li>
                <li>If they have the same amount of bullets in the gun, they all win.</li>
            </ul>
        </div>

        <div class="mt-5">
            <span class="emphasis">Death</span>
            comes to whoever loose all their life counters, and you are out of the game.
            The players that shot you dead get your coins, split among them rounded down.
        </div>
    </div>

    <a href="/" class="button mt-8">&lt; Back</a>

    <div class="mt-10">
        <img src="img/signature-villans.jpg" class="max-w-[200px]" />
    </div>

</div>
