@if (_setup != null)
{
    <div class="absolute bottom-0 left-0 right-0 top-0 z-30 bg-black/70" tabindex="0" @onkeydown="OnKeyDown" @ref="_bgElement">
        <div class="z-31 relative top-40 mx-10 flex flex-col gap-10 rounded-lg bg-white p-6 sm:mx-auto sm:max-w-[50%]">

            @ChildContent

            <div class="flex justify-between gap-5">
                <button tabindex="1" class="button in-menu" disabled=@(!_setup.SaveEnabled) @onclick="() => OnOptionSelected(true)">@_setup.SaveOption</button>
                <button tabindex="2" class="button in-menu neutral" @onclick="() => OnOptionSelected(false)">@_setup.CancelOption</button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    public record Setup(string SaveOption, bool SaveEnabled, string CancelOption)
    {
        public bool SaveEnabled { get; set; } = SaveEnabled;
    }

    private Setup? _setup;
    private Func<bool?, Task>? _callback;
    private ElementReference _bgElement;

    public async Task ShowAsync(Setup setup, Func<bool?, Task> callback)
    {
        _setup = setup;
        _callback = callback;
        StateHasChanged();
        await Task.Delay(200);
        await _bgElement.FocusAsync();
    }

    public void SetSaveEnabled(bool enabled)
    {
        if (_setup == null) return;
        _setup.SaveEnabled = enabled;
        StateHasChanged();
    }
    
    private async Task OnOptionSelected(bool? option)
    {
        if (_callback != null) await _callback(option);
        Hide();
    }

    public void Hide()
    {
        _setup = null;
        _callback = null;
        StateHasChanged();
    }

    private async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Code == "Escape")
        {
            if (_callback != null) await _callback(null);
            Hide();
        }
    }
}
