body {
    @apply bg-zinc-100;
}

h1 {
    color: var(--major-text-fg);
    @apply text-2xl font-bold;
}

.emphasis {
    @apply font-bold;
    color: var(--major-text-fg);
}

a {
    color: var(--major-text-fg);
    border-bottom-color: var(--major-text-fg);
    @apply border-b border-dashed px-1 pb-[1px];
    @apply hover:border-solid;
}

.button {
    color: var(--major-text-fg);
    @apply bg-orange-100 px-10 py-3 font-semibold;
    @apply rounded-full;
    @apply border border-solid border-amber-900 shadow-lg shadow-amber-900/40;
    @apply cursor-pointer hover:border-transparent hover:bg-amber-900 hover:text-orange-100;

    &.large {
        @apply text-2xl;
    }

    &.neutral {
        @apply bg-white text-slate-700;
        @apply border-slate-500 shadow-md;
    }

    &.tutorial {
        @apply bg-white text-slate-700;
        @apply border-slate-700 shadow-sm;
        @apply hover:bg-slate-100 hover:text-slate-800;
        @apply rounded-xl px-5 py-2;
    }

    &.in-menu {
        @apply shadow-md;
    }
}

input[type="text"],
input[type="number"] {
    @apply rounded-md border-2 border-gray-300 p-2;
}